

<div class='container'>
  <div class='divTitulo'>
    <h1 class='titulo'>Peça já seu Minion
    </h1>
  </div>
  <div class='foto_descricao'>
    
    <div>
      <h3>Minion:</h3>
      <img src="minion.jpeg" width='100' height='100'/>
    </div>
    <div>
      <h4>Descriçao:</h4>
      <ul>
        <li class='li'>Fofo</li>
        <li class='li'>Toca Guitarra</li>
        <li class='li'>Ótima companhia </li>
      </ul>
    </div>
    
  </div>
  <div class='sub_container'>

<%= form_for :post,url:posts_path do |f| %>
  <div class='cada'>
    <p class='p'>
      <%= f.label :Nome %> <br>
      <%= f.text_field :Nome ,:class => 'input'  , :required => true %>
    </p>
 
  <p class='p'>
    <%= f.label :Telefone %> <br>
    <%= f.text_field :Telefone  ,:class => 'input', :required => true %>
  </p>
  </div>
  
  <div class='cada'>
  <p class='p'>
    <%= f.label :Endereco %> <br>
    <%= f.text_field :Endereco ,:class => 'input' , :required => true%>
  </p>
  
  
  
  <p class='p'>
    <%= f.label :Email %> <br>
    <%= f.text_field :Email ,:class => 'input' , :required => true%>
  </p>
  </div>

  <p>
    <%= f.submit  "Reservar" ,:class => 'botao'%>
  </p>

</div>
</div>
<% end %>
      
   
<!--</div>-->